@{
    ViewData["Title"] = "Directions";
}
<div class="card text-center">
    <div class="card-header">
        <h2 class="card-title text-info">Directions:</h2>
    </div>
    <div class="card-body">
        <h4 class="text-muted">Push the different buttons to care for Baby Yoda and see his various reactions. Both happiness and fullness levels must be 100 to win. If he dies on your watch, there will be a funeral and a chance you will face prison time. So treat your little man well!</h4>

    </div>
</div>
            
            
