@{
    ViewData["Title"] = "Funeral";
}
<style>
    img{
        width: 1100px;
    }
    h3{
        font-style: italic;
        text-align: center;
        color: #fcbacb;
    }
</style>
<img src="/img/funeral.png" alt="ded">
<h3>~In loving memory of our sweet, sweet Baby Yoda~</h3>
<div class="text-center">
    <a href="/reset"><button class="bg-info text-white">Play Again</button></a>

</div>
